body {
  overflow: hidden;
}

button:focus {outline:0 !important;}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: blue;
  position: absolute;
  z-index: 10;
}

#editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-radius: 0;
  font-size: 20px;
}

.marker {
  position:absolute;
  background:rgba(150,150,150,0.5);
  z-index:5;
  transition: all 0.3s ease;
}