body {
  overflow: hidden;
}

button:focus {outline:0 !important;}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: blue;
  position: absolute;
  z-index: 10;
}

#editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-radius: 0;
  font-size: 20px;
  height: calc(100vh - 120px);
}

.speech-debug {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(87, 87, 87);
  font-size: 20px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.speech-debug-label {
  padding: 10px;
  color: white;
}

.speech-debug-text{
  color: white;
  height: 28px;
  padding: 5px 10px;
}


.speech-debug-parsed {
  padding: 5px 10px;
  color: rgb(166, 226, 46);
}

.word {
  margin-right: 5px;
  display: inline-block;
}

.red {
  color: rgb(249, 38, 114);
}

.marker {
  position:absolute;
  background:rgba(150,150,150,0.5);
  z-index:5;
  transition: all 0.3s ease;
}